.ikon-2 {
    /* margin-left: 20px; */
}
.ikon-judul {
    font-size: 21px;
    font-weight: 630;
    color: #4D5AF2;
}
.ikon-tulisan {
    font-size: 15px;
}
.judul-detail {
    font-size: 56px;
    font-weight: 700;
}
.title-container-detail {
    max-width: 480px;
    margin-top: 5px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.title-container-nama {
    max-width: 480px;
    margin-top: 2px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.title-big-detail {
    font-size: 72px;
    font-weight: 700;
}
.title-small-detail {
    font-size: 44px;
    font-weight: 700;
}

.button-detail-1-container {
    max-width: 400px;
    margin-left: 80px;
}
.image-big-container-detail {
    width: 600px;
    margin-top: 30px;
}

.title-container-detail-2 {
    max-width:80%;
    /* margin-top: 50px; */
    margin-left: 0px;
    margin-bottom: 10px;
}

.title-quote-detail{
    /* max-width: 80%; */
    font-size :20px;
    margin-top: 10px;
}

.teks-detail {
    font-size: 17px;
    text-align: justify;
}

.card-content-detail {
    margin: 16px auto;
    max-width: 1300px;
    height: 250px;
    padding: 28px;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
}

.card-content-detail .ant-card-body{
    padding: 10px;
}

.detail-content {
    margin: auto;
    max-width: 300px;
    padding: 28px;
    border-radius: 10px;
}

.detail-image {
    max-width: 30%;
    max-height: 100px;
}

.detail-title {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 600;
}
.detail-description {
    margin-top: 10px;
    font-size: 15px;
}

/*untuk regis*/
.button-regis{
    border-radius: 25px;
    border: none;
    background: #4d5af2;
    margin: 0px;
    width: 160px;
}
.back-regis{
    background: #4d5af2;
}

.button-regis-closed{
    border-radius: 25px;
    border: none;
    background: red;
    margin: 0px;
    width: 160px;
}

.text-merah{
    color: red;
}

.hidden-objek {
    display: none;
  }
  .block-objek {
    display: inline;
  }

