/* ALL Section */

.section-container {
    margin: 0 80px;
    margin-bottom: 100px;
}
/* Section 1 style */
.title-container {
    max-width: 480px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.description-container {
    max-width: 400px;
    margin-bottom: 20px;
}
.button-section-1-container-search {
    max-width: 500px;
}
.image-big-container {
    width: 600px;
    margin-top: 100px;
}

.button-participate {
    font-size: 14px;
    min-height: 48px;
    padding-left: 20px;
    padding-right: 20px;
}
.image-hidden {
    display: none;
}

.button-search .ant-input{
    background-color:white;
    border-color: #4D5AF2;
    width: 100%;
    border-radius: 20px;
    margin-top: 8px;
    height: 42px;
    color: #9A9FDE !important;
    padding:15px;
}

.button-search .anticon{
    margin-top: 10px;
    color:#4D5AF2;
}

.dropdown-category-event .ant-btn {
    width: 100%;
    text-align: left;
    border-radius: 20px;
    height: 40px;
    border-color: #4D5AF2;
}
/* Section 2 style */

.event-menu .ant-menu-item {
    font-size: 16px;
    padding: 0px 18px;
    /* font-weight: bold; */
}
.event-menu .ant-menu-submenu-title {
    padding: 10px 20px;
}

.event-menu .ant-menu-item button,
.event-menu .ant-menu-submenu-title button {
    padding: 0px 15px;
    color: #cdcccc !important;
}

.event-menu .ant-menu-item button:hover,
.event-menu .ant-menu-submenu-title button:hover {
    color: black !important;
}

.event-menu .ant-menu-horizontal {
    border-bottom: none;
    color: black;
}


.tombol-tengah{
    text-align: center;
    margin: 16px auto;
}
.event-menu
.ant-menu-item:hover, 
.ant-menu-active,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover
{
    border-bottom: 2px solid transparent !important;
}
.event-menu .ant-menu-submenu-title::after{
    color: black;
    border-bottom: 2px solid transparent !important;
}

.event-menu
.ant-menu-item:hover, 
.ant-menu-submenu-title:hover
{
    border-bottom: 2px solid transparent !important;
}

.event-menu .ant-menu-item-selected {
    border-bottom: 2px solid transparent !important;
}
.event-menu .ant-menu-item-selected button {
    color: black !important;
}

.ant-menu-horizontal .ant-menu-item,
.ant-menu-horizontal .ant-menu-submenu {
    margin-top: 0px;
}

.event-card-container {
    max-width: 360px;
    border-radius: 16px;
}
.event-card-container .ant-card-body {
    padding: 16px;
    border: 1px solid #4D5AF2;
    border-top: none;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.event-card-badge {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    text-align: center;
}

.event-card-badge-quota {
    margin-left: 5px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    text-align: center;
}

.title-big-event {
    font-size: 48px;
}


/* Media Queries */
@media screen and (max-width: 1200px){
    /* Section 1 style */
    .image-big-container {
        width: 460px;
        margin-top: 150px;
        margin-left: 80px;
    }
    

    /* Section 2 style */
}

@media screen and (max-width: 900px){
    /* Section 1 style */
    .image-big-container {
        width: 400px;
        margin-top: 100px;
    }    
    .title-big {
        font-size: 50px;
    }
    .title-small {
        font-size: 30px;
    }
    .description-container {
        max-width: 300px;
        margin-left: 80px;
        font-size: 16px;
    }
    .button-participate {
        font-size: 12px;
        min-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Section 2 style */
}

@media screen and (max-width: 767px) {
    /* Section 1 style */
    .image-big-container {
        width: 280px;
        margin: 100px auto;
    }
    .title-container {
        max-width: 300px;
        margin-left: 40px;
    }
    .title-big {
        font-size: 40px;
    }
    .title-small {
        font-size: 26px;
    }
    .description-container {
        margin-left: 40px;
        font-size: 14px;
    }
    .button-section-1-container {
        margin-left: 40px;
    }
    .button-participate {
        font-size: 10px;
        min-height: 20px;
    }

    /* Section 2 style */
}

@media screen and (max-width: 576px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }
    .image-hidden {
        width: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
        display: block;
    } 

    /* Section 2 style */

    /* Section 3 style */
    .image-hidden-2 {
        width: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
        display: block;
    } 
}

@media screen and (max-width: 480px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }    
    .title-container {
        max-width: 360px;
    }
    .title-big {
        font-size: 50px;
    }
    .title-small {
        font-size: 30px;
    }
    .button-section-1-container {
        margin-left: 40px;
    }

    /* Section 2 style */
}