/* ALL Section */
.landing-pilih {
    background-color: #4D5AF2;
    height: 100vh;
}
.section-pilihan {
    margin: 0 10%;
    margin-top: 0px;
    margin-bottom: 150px;
}
/* Section 1 style */
.title-container {
    max-width: 480px;
    margin-top: 50px;
    margin-bottom: 10px;
}
/* Section 2 style */
.pilihan-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 100%;
}
.description-pilihan {
    text-align: center;
    margin: 16px auto;
    max-width: 100%;
}
.text-description-pilihan{
    font-size: 20px;
    font-weight: 500;
}
.card-content-pilihan {
    margin: 0px auto;
    max-width:350px;
    height: 450px;
    padding: 28px;
    border-radius: 10px;
    background: white;

    -webkit-box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 19px -5px rgba(0,0,0,0.75);
}
.card-image-pilihan {
    margin-top: 20px;
    max-width: 80%;
    max-height: 350px;
}


.card-title-pilihan {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 800;
}
.card-description-pilihan {
    margin-top: 15px;
    font-size: 15px;
    width: 100%;
    margin: 7px auto;
    
}
.bottom-container{
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
}





/* Media Queries */
@media screen and (max-width: 1200px){

    /* ALL Section */

    /* Section 1 style */
    .image-big-container {
        width: 460px;
    }

    /* Section 2 style */

    /* Section 3 style */
    .image-section {
        max-width: 400px;
    }
    /* Section 4 style */
    .image-section-4 {
        max-width: 400px;
    }

    .card-why-container {
        margin: 10px 40px;
    }
}

@media screen and (max-width: 900px){
    /* ALL Section */
    .section-container {
        margin: 0 40px;
        margin-bottom: 40px;
    }

    /* Section 1 style */
    .image-big-container {
        width: 400px;
        margin-top: 100px;
    }    
    .description-container {
        max-width: 300px;
    }
    .button-participate .button-organize {
        font-size: 12px;
        min-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Section 2 style */

    /* Section 3 style */
    .image-section {
        max-width: 360px;
    }
    /* Section 4 style */
    .image-section-4 {
        max-width: 360px;
    }
}

@media screen and (max-width: 767px) {
    /* ALL Section */
    

    /* Section 1 style */
    .image-big-container {
        width: 280px;
        margin: 80px auto;
    }
    .title-container {
        max-width: 300px;
        margin-top:30px;
    }
    .button-participate .button-organize {
        font-size: 10px;
        min-height: 20px;
    }

    /* Section 2 style */

    /* Section 3 style */
    .image-section {
        max-width: 300px;
    }

    /* Section 4 style */
    .image-section-4 {
        max-width: 300px;
    }
}

@media screen and (max-width: 576px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }
    .image-hidden {
        width: 300px;
        margin-bottom: 20px;
        display: block;
    } 
    .image-hidden-3 {
        width: 260px;
        margin-bottom: 20px;
        display: block;
    } 

    /* Section 2 style */

    /* Section 3 style */
    .image-section {
        display: none;
    }

    /* Section 4 style */
    .image-section-4 {
        display: none;
    }
}

@media screen and (max-width: 480px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }    
    .title-container {
        max-width: 360px;
    }

    /* Section 2 style */
}