/* Section 1 style */
.title-container {
    max-width: 480px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.title-big {
    font-size: 90px;
    font-weight: 700;
}
.title-small {
    font-size: 50px;
    font-weight: 700;
}

.description-container {
    max-width: 400px;
    margin-left: 80px;
    font-size: 24px;
    margin-bottom: 20px;
}
.button-section-1-container {
    max-width: 400px;
    margin-left: 80px;
}
.image-big-container {
    width: 600px;
    margin-top: 100px;
}

.button-participate {
    font-size: 14px;
    min-height: 48px;
    padding-left: 20px;
    padding-right: 20px;
}
.image-hidden {
    display: none;
}

.image-hidden-2 {
    display: none;
}

/* Section 2 style */
.title-discover {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 10px auto;
    max-width: 380px;
}
.description-discover {
    text-align: center;
    font-size: 14px;
    margin: 16px auto;
    max-width: 620px;
}
.card-container2 {
    margin-top: 20px;
}

.card-content2 {
    margin: 16px auto;
    max-width: 1300px;
    padding: 28px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
}
.card-image2 {
    max-width: 100%;
    max-height: 160px;
}
.card-title {
    margin-top: 18px;
    font-size: 20px;
}
.card-description {
    margin-top: 10px;
    font-size: 12px;
}
/* Section 3 style */
.image-big-container-2 {
    width: 600px;
    /* margin-top: 100px; */
    margin-left: 80px;
}

.title-medium {
    font-size: 55px;
    font-weight: 700;
}

.title-description{
    font-size : 40px;
    max-width: 100%;
    font-weight : 610;
}
.title-quote{
    /* max-width: 80%; */
    font-size :20px;
    margin-top: 10px;
}

.title-container-2 {
    max-width:80%;
    /* margin-top: 50px; */
    margin-left: 0px;
    margin-bottom: 10px;
}
.button-serve {
    font-size: 14px;
    min-height: 48px;
    padding-left: 50px;
    padding-right: 50px;
}
.button-section-1-quote {
    max-width: 600px;
}

/*Section 4 Style*/
.title-container-3 {
    max-width: 100%;
    /* margin-top: 50px; */
    margin-left: 80px;
    margin-bottom: 10px;
}

.button-section-2-quote {
    margin-left: 80px;
    max-width: 600px;
}

.title-description-2{
    font-size : 40px;
    max-width: 50%;
    font-weight : 610;
}

.title-quote-2{
    max-width: 85%;
    font-size :20px;
    margin-top: 10px;
}

/*Section 5 Style*/
.title-benefit {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin:  auto;
    max-width: 380px;
}
.description-benefit {
    text-align: center;
    font-size: 14px;
    margin:  auto;
    max-width: 620px;
}

.benefit-content {
    margin: auto;
    max-width: 300px;
    padding: 28px;
    border-radius: 10px;
}
.benefit-image {
    max-width: 20%;
    max-height: 160px;
}
.benefit-title {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 600;
}
.benefit-description {
    margin-top: 10px;
    font-size: 15px;
}

/* Media Queries */
@media screen and (max-width: 1200px){
    /* Section 1 style */
    .image-big-container {
        width: 460px;
        margin-top: 150px;
        margin-left: 80px;
    }

    /* Section 2 style */
}

@media screen and (max-width: 900px){
    /* Section 1 style */
    .image-big-container {
        width: 400px;
        margin-top: 100px;
    }    
    .title-big {
        font-size: 50px;
    }
    .title-small {
        font-size: 30px;
    }
    .description-container {
        max-width: 300px;
        margin-left: 80px;
        font-size: 16px;
    }
    .button-participate {
        font-size: 12px;
        min-height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Section 2 style */
}

@media screen and (max-width: 767px) {
    /* Section 1 style */
    .image-big-container {
        width: 280px;
        margin: 100px auto;
    }
    .title-container {
        max-width: 300px;
        margin-left: 40px;
    }
    .title-big {
        font-size: 40px;
    }
    .title-small {
        font-size: 26px;
    }
    .description-container {
        margin-left: 40px;
        font-size: 14px;
    }
    .button-section-1-container {
        margin-left: 40px;
    }
    .button-participate {
        font-size: 10px;
        min-height: 20px;
    }

    /* Section 2 style */
}

@media screen and (max-width: 576px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }
    .image-hidden {
        width: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
        display: block;
    } 

    /* Section 2 style */

    /* Section 3 style */
    .image-hidden-2 {
        width: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
        display: block;
    } 
}

@media screen and (max-width: 480px){
    /* Section 1 style */
    .image-big-container {
        display: none;
    }    
    .title-container {
        max-width: 360px;
    }
    .title-big {
        font-size: 50px;
    }
    .title-small {
        font-size: 30px;
    }
    .button-section-1-container {
        margin-left: 40px;
    }

    /* Section 2 style */
}