.card-signer{
    margin: 30px auto;
    max-width: 97%;
    padding: 28px;
    border-radius: 10px;
    background-color: white;

    -webkit-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 17px -10px rgba(0,0,0,0.75);
}

.img-card-signer{
    width: 100%;
    margin-left: 0px;
}

.desc-signer-dashboard{
    width: 100%;
    margin-left: 10px;
}

.title-signer-card{
    font-size: 15px;
    color: #4D5AF2;
    font-weight: bold;
}

.desc-signer-card{
    font-size: 30px;
    color:black;
    font-weight: bold;
}

.signer-info-card{
    font-size: 16px;
    color: black;
    font-weight: 600;
}