.form-set-password{
    /* background-color: red; */
    margin: 30px auto;
}

.set-password-form-container{
    /* background-color: red; */
    max-width: 40%;
    text-align: center;
    margin: 16px auto;
}

.text-set-password{
    color: black;
}